@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400&family=Kanit:wght@200;300&display=swap');



:root{
    --azul-oscuro: #24414A;
    --azul-intermedio: #386675;
    --azul-claro: #8FC8DB;
    --celeste-oscuro: #A7CCD9;
    --celeste-claro: #B1E0F0;
}

.contenedorNavBar{
    display: flex;
    flex-direction: row;
    
}

.navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    width: 95%;
}

.navBar a {
    font-family: "Kanit" ;
    text-decoration: none;
    width: 100%;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    transition: transform 0.3s ease;
}

.navBar a:hover{
    transform: scale(1.1);
}

.contenedorCartWidget {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.iconoCarrito {
    font-size: 4rem;
}

.numeroCarrito {
    font-size: 1.5rem;
    margin-left: -2rem;
    color: red;
}

.entrenamientoFuncional{
    background-color: var(--celeste-oscuro) ;
    color: var(--azul-intermedio);
}

.futbol{
    background-color: var(--celeste-claro) ;
    color: var(--azul-oscuro)
}

.boxeo{
    background-color: var(--azul-oscuro) ;
    color: var(--celeste-claro);
}

.crossfit{
    background-color: var(--azul-intermedio) ;
    color: var(--celeste-oscuro)
}

.cognitivo{
    background-color: var(--azul-claro) ;
    color: var(--azul-intermedio)
}

.saludo{
    font-family: "Chakra Petch";
    text-align: center;
}